<body>

    <div class="encabezado">
        <div class="adorno">
            <div class="caja"></div>
            <div class="caja"></div>
        </div>
        <a routerLink="/Inicio" class="enlace">Menú Inicio</a>
        <div style="text-align:center" class="head">
            <h1>
                {{ title }}
            </h1>
            <img width="200" alt="Logo Proyecto" src="../assets/free-logo-i9r67fo4cz-4186t5au7q.jpg">
        </div>
    </div>

    <div class="cuerpo">
        <!--mostrar lista ordenes de trabajo-->
        <div class="lista">
            <h2> Lista de las ordenes de trabajo</h2>
            <form (ngSubmit)="consultaOrdenesTr(1)" [formGroup]="ListaOrdenesTr">
                <button type="submit" style="margin-right: 30px"> Mostrar lista de las ordenes de trabajo</button>
                <button (click)="LimpiarLista()" style="scroll-margin-left: 30px"> Limpiar lista todas las ordenes de
                    trabajo </button>
                <br><br>
                <h2>{{TituloOrdenesTr}}</h2>
                <table>
                    <thead>
                        <th>{{TablaOrdenesTr[0]}}</th>
                        <th>{{TablaOrdenesTr[1]}}</th>
                        <th>{{TablaOrdenesTr[2]}}</th>
                        <th>{{TablaOrdenesTr[3]}}</th>
                        <th>{{TablaOrdenesTr[4]}}</th>
                        <th>{{TablaOrdenesTr[5]}}</th>
                        <th>{{TablaOrdenesTr[6]}}</th>
                        <th>{{TablaOrdenesTr[7]}}</th>
                        <th>{{TablaOrdenesTr[8]}}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ord of OrdenesTr">
                            <th>{{ord.id_orden_trabajo}}</th>
                            <th>{{ord.placa_vehiculo}}</th>
                            <th>{{ord.numero_orden_trabajo}}</th>
                            <th>{{ord.cod_ref_repuesto}}</th>
                            <th>{{ord.CC_Mecanico}}</th>
                            <th>{{ord.descripcion_servicio_orden}}</th>
                            <th>{{ord.forma_pago}}</th>
                            <th>{{ord.precio_orden_trabajo}}</th>
                            <th>{{ord.fecha_orden_trabajo}}</th>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <br><br><br>

        <!-- para mostrar una sola orden de trabajo-->
        <div class="buscar">

            <h2>Mostrar la orden de trabajo seleccionada: </h2>

            <form (ngSubmit)="buscarOrdenTr()" [formGroup]="filtrarOrdenTr">
                Orden de trabajo a mostrar
                <select class="dropdown" formControlName="combofiltro" (click)="consultaOrdenesTr(2)">
                    <option value="value1">Orden de trabajo a buscar</option>
                    <option *ngFor="let OrdenTr of comboListaOrdenTr" [value]="OrdenTr.id_orden_trabajo">
                        {{OrdenTr.numero_orden_trabajo}}-
                        {{OrdenTr.fecha_orden_trabajo}}
                    </option>
                </select>
                <br><br><br>
                <button type="submit">Buscar orden de trabajo</button>
            </form>
            <ul>
                <h2>{{TituloOrdenTr}}</h2>
                <table class="tabBuscar">
                    <thead class="Colb">
                        <th class="b">{{TabBusOrdenesTr[0]}}</th>
                        <th class="b">{{TabBusOrdenesTr[1]}}</th>
                        <th class="b">{{TabBusOrdenesTr[2]}}</th>
                        <th class="b">{{TabBusOrdenesTr[3]}}</th>
                        <th class="b">{{TabBusOrdenesTr[4]}}</th>
                        <th class="b">{{TabBusOrdenesTr[5]}}</th>
                        <th class="b">{{TabBusOrdenesTr[6]}}</th>
                        <th class="b">{{TabBusOrdenesTr[7]}}</th>
                        <th class="b">{{TabBusOrdenesTr[8]}}</th>
                    </thead>

                    <tbody class="Filb">
                        <tr class="b" *ngFor="let ord of MiOrdenTr">
                            <th class="b">{{ord.id_orden_trabajo}}</th>
                            <th class="b">{{ord.placa_vehiculo}}</th>
                            <th class="b">{{ord.numero_orden_trabajo}}</th>
                            <th class="b">{{ord.cod_ref_repuesto}}</th>
                            <th class="b">{{ord.CC_Mecanico}}</th>
                            <th class="b">{{ord.descripcion_servicio_orden}}</th>
                            <th class="b">{{ord.forma_pago}}</th>
                            <th class="b">{{ord.precio_orden_trabajo}}</th>
                            <th class="b">{{ord.fecha_orden_trabajo}}</th>
                        </tr>
                    </tbody>
                </table>
            </ul>


        </div>
        <br><br><br>

        <!-- para crear una orden de trabajo -->
        <div class="crea">

            <h2>Registrar una nueva orden de trabajo</h2>

            <form (ngSubmit)="InsertarOrdenTr()" [formGroup]="InsertarGOrdenTr">
                <!--Vehículo orden de trabajo
                <label for="VeOrdenTr"><input type="text" name="VeOrdenTr" id="VeOrdenTr"
                        formControlName="textVeOrdenTr"></label>
                <br><br>-->
                <form (ngSubmit)="buscarVehiculo()" [formGroup]="filtrarVehiculo">
                    Vehículo orden de trabajo
                    <select class="opc" formControlName="combofiltro" (click)="consultaVehiculos(2)">
                        <option value="value1">Vehículo</option>
                        <option *ngFor="let Vehiculo of comboListaVehiculo" [value]="Vehiculo.id_vehiculo">
                            {{Vehiculo.placa_vehiculo}}
                        </option>
                    </select>
                    <button type="submit" class="special"></button>
                    <br><br>
                </form>
                <li *ngFor="let Ve of MiVehiculo">
                    {{Ve.placa_vehiculo}}
                    <label for="Vehiculo" class="resultado"><input type="hidden" name="Vehiculo" id="Vehiculo"
                            value={{Ve.id_vehiculo}} [(ngModel)]="Ve.id_vehiculo"
                            formControlName="textVeOrdenTr"></label>
                    <br><br>
                </li>
                Número orden de trabajo
                <label for="NuOrdenTr"><input type="text" name="NuOrdenTr" id="NuOrdenTr"
                        formControlName="textNuOrdenTr"></label>
                <br><br>
                <!--Repuesto orden de trabajo
                <label for="ReOrdenTr"><input type="text" name="ReOrdenTr" id="ReOrdenTr"
                        formControlName="textReOrdenTr"></label>
                <br><br>-->
                <form (ngSubmit)="buscarRepuesto()" [formGroup]="filtrarRepuesto">
                    Repuesto orden de trabajo
                    <select class="opc" formControlName="combofiltro" (click)="consultaRepuestos(2)">
                        <option value="value1">Repuesto</option>
                        <option *ngFor="let Repuesto of comboListaRepuesto" [value]="Repuesto.id_repuesto">
                            {{Repuesto.cod_ref_repuesto}}
                        </option>
                    </select>
                    <button type="submit" class="special"></button>
                    <br><br>
                </form>
                <li *ngFor="let Re of MiRepuesto">
                    {{Re.cod_ref_repuesto}}
                    <label for="Repuesto" class="resultado"><input type="hidden" name="Repuesto" id="Repuesto"
                            value={{Re.id_repuesto}} [(ngModel)]="Re.id_repuesto"
                            formControlName="textReOrdenTr"></label>
                    <br><br>
                </li>
                <!--Mecánico orden de trabajo
                <label for="MeOrdenTr"><input type="text" name="MeOrdenTr" id="MeOrdenTr"
                        formControlName="textMeOrdenTr"></label>
                <br><br>-->
                <form (ngSubmit)="buscarPersona()" [formGroup]="filtrarPersona">
                    Mecánico orden de trabajo
                    <select class="opc" formControlName="combofiltro" (click)="consultaPersonas(2)">
                        <option value="value1">Mecánico</option>
                        <option *ngFor="let Persona of comboListaPersona" [value]="Persona.id_persona">
                            {{Persona.identificacion_persona}}
                        </option>
                    </select>
                    <button type="submit" class="special"></button>
                    <br><br>
                </form>
                <li *ngFor="let Pe of MiPersona">
                    {{Pe.identificacion_persona}}
                    <label for="Persona" class="resultado"><input type="hidden" name="Persona" id="Persona"
                            value={{Pe.id_persona}} [(ngModel)]="Pe.id_persona"
                            formControlName="textMeOrdenTr"></label>
                    <br><br>
                </li>
                Descripción orden de trabajo
                <label for="DeOrdenTr"><input type="text" name="DeOrdenTr" id="DeOrdenTr"
                        formControlName="textDeOrdenTr"></label>
                <br><br>
                <!--Forma de pago orden de trabajo
                <label for="FPOrdenTr"><input type="text" name="FPOrdenTr" id="FPOrdenTr"
                        formControlName="textFPOrdenTr"></label>
                <br><br>-->
                <form (ngSubmit)="buscarFormaPa()" [formGroup]="filtrarFormaPa">
                    Forma de pago orden de trabajo
                    <select class="opc" formControlName="combofiltro" (click)="consultaFormasPa(2)">
                        <option value="value1">Forma de pago</option>
                        <option *ngFor="let FormaPa of comboListaFormaPa" [value]="FormaPa.id_forma_pago">
                            {{FormaPa.forma_pago}}
                        </option>
                    </select>
                    <button type="submit" class="special"></button>
                    <br><br>
                </form>
                <li *ngFor="let FP of MiFormaPa">
                    {{FP.forma_pago}}
                    <label for="FormaPa" class="resultado"><input type="hidden" name="FormaPa" id="FormaPa"
                            value={{FP.id_forma_pago}} [(ngModel)]="FP.id_forma_pago"
                            formControlName="textFPOrdenTr"></label>
                    <br><br>
                </li>
                Precio orden de trabajo
                <label for="PrOrdenTr"><input type="text" name="PrOrdenTr" id="PrOrdenTr"
                        formControlName="textPrOrdenTr"></label>
                <br><br>
                Fecha orden de trabajo
                <label for="FeOrdenTr"><input type="date" name="FeOrdenTr" id="FeOrdenTr"
                        formControlName="textFeOrdenTr"></label>
                <br><br>
                <button type="submit" onclick="location.reload()">Insertar orden de trabajo</button>
            </form>
            <br><br>

        </div>
        <br><br><br>

        <!-- para actualizar una orden de trabajo -->
        <div class="edit">

            <h2> Orden de trabajo a editar</h2>
            <form (ngSubmit)="buscarEditarOrdenTr()" [formGroup]="ActualizarAOrdenTr">
                Orden de trabajo a editar:
                <select class="dropdown" formControlName="BuscarIdOrdenTr" (click)="consultaOrdenesTr(3)">
                    <option value="value1">Orden de trabajo a editar</option>
                    <option *ngFor="let Ord of comboEditarOrdenTr" [value]="Ord.id_orden_trabajo">
                        {{Ord.numero_orden_trabajo}}-
                        {{Ord.fecha_orden_trabajo}}
                    </option>
                </select>
                <br><br>
                <button type="submit">Buscar orden de trabajo a editar</button>
                <h2>{{TituloOrdenTrEdit}}</h2>
                <ul *ngFor="let Ord of MiOrdenTrE">
                    <!--Nuevo vehículo
                    <label for="VeOrdenTr"><input type="text" name="VeOrdenTr" id="VeOrdenTr"
                            value={{Ord.placa_vehiculo}} [(ngModel)]="Ord.placa_vehiculo"
                            formControlName="textnuevoveordentr"></label>
                    <br><br>-->
                    <form (ngSubmit)="buscarVehiculo()" [formGroup]="filtrarVehiculo">
                        Nuevo vehículo orden de trabajo
                        <select class="opc" formControlName="combofiltro" (click)="consultaVehiculos(2)">
                            <option value="value1">Vehículo</option>
                            <option *ngFor="let Vehiculo of comboListaVehiculo" [value]="Vehiculo.id_vehiculo">
                                {{Vehiculo.placa_vehiculo}}
                            </option>
                        </select>
                        <button type="submit" class="special"></button>
                        <br><br>
                    </form>
                    <li *ngFor="let Ve of MiVehiculo">
                        {{Ve.placa_vehiculo}}
                        <label for="Vehiculo" class="resultado"><input type="hidden" name="Vehiculo" id="Vehiculo"
                                value={{Ve.id_vehiculo}} [(ngModel)]="Ve.id_vehiculo"
                                formControlName="textnuevoveordentr"></label>
                        <br><br>
                    </li>
                    Nuevo número
                    <label for="NuOrdenTr"><input type="text" name="NuOrdenTr" id="NuOrdenTr"
                            value={{Ord.numero_orden_trabajo}} [(ngModel)]="Ord.numero_orden_trabajo"
                            formControlName="textnuevonuordentr"></label>
                    <br><br>
                    <!--Nuevo repuesto
                    <label for="ReOrdenTr"><input type="text" name="ReOrdenTr" id="ReOrdenTr"
                            value={{Ord.cod_ref_repuesto}} [(ngModel)]="Ord.cod_ref_repuesto"
                            formControlName="textnuevoreordentr"></label>
                    <br><br>-->
                    <form (ngSubmit)="buscarRepuesto()" [formGroup]="filtrarRepuesto">
                        Nuevo repuesto orden de trabajo
                        <select class="opc" formControlName="combofiltro" (click)="consultaRepuestos(2)">
                            <option value="value1">Repuesto</option>
                            <option *ngFor="let Repuesto of comboListaRepuesto" [value]="Repuesto.id_repuesto">
                                {{Repuesto.cod_ref_repuesto}}
                            </option>
                        </select>
                        <button type="submit" class="special"></button>
                        <br><br>
                    </form>
                    <li *ngFor="let Re of MiRepuesto">
                        {{Re.cod_ref_repuesto}}
                        <label for="Repuesto" class="resultado"><input type="hidden" name="Repuesto" id="Repuesto"
                                value={{Re.id_repuesto}} [(ngModel)]="Re.id_repuesto"
                                formControlName="textnuevoreordentr"></label>
                        <br><br>
                    </li>
                    <!--Nuevo mecánico
                    <label for="MeOrdenTr"><input type="text" name="MeOrdenTr" id="MeOrdenTr" value={{Ord.CC_Mecanico}}
                            [(ngModel)]="Ord.CC_Mecanico" formControlName="textnuevomeordentr"></label>
                    <br><br>-->
                    <form (ngSubmit)="buscarPersona()" [formGroup]="filtrarPersona">
                        Nuevo mecánico orden de trabajo
                        <select class="opc" formControlName="combofiltro" (click)="consultaPersonas(2)">
                            <option value="value1">Mecánico</option>
                            <option *ngFor="let Persona of comboListaPersona" [value]="Persona.id_persona">
                                {{Persona.identificacion_persona}}
                            </option>
                        </select>
                        <button type="submit" class="special"></button>
                        <br><br>
                    </form>
                    <li *ngFor="let Pe of MiPersona">
                        {{Pe.identificacion_persona}}
                        <label for="Persona" class="resultado"><input type="hidden" name="Persona" id="Persona"
                                value={{Pe.id_persona}} [(ngModel)]="Pe.id_persona"
                                formControlName="textnuevomeordentr"></label>
                        <br><br>
                    </li>
                    Nueva descripción
                    <label for="DeOrdenTr"><input type="text" name="DeOrdenTr" id="DeOrdenTr"
                            value={{Ord.descripcion_servicio_orden}} [(ngModel)]="Ord.descripcion_servicio_orden"
                            formControlName="textnuevodeordentr"></label>
                    <br><br>
                    <!--Nueva forma de pago
                    <label for="FPOrdenTr"><input type="text" name="FPOrdenTr" id="FPOrdenTr" value={{Ord.forma_pago}}
                            [(ngModel)]="Ord.forma_pago" formControlName="textnuevofpordentr"></label>
                    <br><br>-->
                    <form (ngSubmit)="buscarFormaPa()" [formGroup]="filtrarFormaPa">
                        Nueva forma de pago orden de trabajo
                        <select class="opc" formControlName="combofiltro" (click)="consultaFormasPa(2)">
                            <option value="value1">Forma de pago</option>
                            <option *ngFor="let FormaPa of comboListaFormaPa" [value]="FormaPa.id_forma_pago">
                                {{FormaPa.forma_pago}}
                            </option>
                        </select>
                        <button type="submit" class="special"></button>
                        <br><br>
                    </form>
                    <li *ngFor="let FP of MiFormaPa">
                        {{FP.forma_pago}}
                        <label for="FormaPa" class="resultado"><input type="hidden" name="FormaPa" id="FormaPa"
                                value={{FP.id_forma_pago}} [(ngModel)]="FP.id_forma_pago"
                                formControlName="textnuevofpordentr"></label>
                        <br><br>
                    </li>
                    Nuevo precio
                    <label for="PrOrdenTr"><input type="text" name="PrOrdenTr" id="PrOrdenTr"
                            value={{Ord.precio_orden_trabajo}} [(ngModel)]="Ord.precio_orden_trabajo"
                            formControlName="textnuevoprordentr"></label>
                    <br><br>
                    Nueva fecha
                    <label for="FeOrdenTr"><input type="date" name="FeOrdenTr" id="FeOrdenTr"
                            value={{Ord.fecha_orden_trabajo}} [(ngModel)]="Ord.fecha_orden_trabajo"
                            formControlName="textnuevofeordentr"></label>
                    <br><br>
                </ul>
                <br><br>
                <button (click)="ActualizarOrdenTr()" onclick="location.reload()">Actualizar</button>
            </form>
            <br>

        </div>
        <br><br><br>

        <!-- para generar un informe de ordenes de trabajo por mecánico y periodo de tiempo -->
        <div class="informe">
            <h2> Informe de ordenes de trabajo por mecánico y periodo de tiempo </h2>

            <form (ngSubmit)="buscarPersona()" [formGroup]="filtrarPersona">
                Mecánico
                <select class="opc" formControlName="combofiltro" (click)="consultaPersonas(2)">
                    <option value="value1">Mecánico</option>
                    <option *ngFor="let Persona of comboListaPersona" [value]="Persona.id_persona">
                        {{Persona.identificacion_persona}}-
                        {{Persona.p_nombre_persona}}-
                        {{Persona.p_apellido_persona}}
                    </option>
                </select>
                <button type="submit" class="special"></button>
                <br><br>
            </form>
            <li *ngFor="let Pe of MiPersona">
                {{Pe.identificacion_persona}}
                <label for="Persona" class="resultado"><input type="hidden" name="Persona" id="Persona"
                        value={{Pe.id_persona}} [(ngModel)]="Pe.id_persona"
                        formControlName="textnuevomeordentr"></label>
                <br><br>
            </li>
            <!--Fecha inicial
            <label for="FeOrdenTr"><input type="date" name="FeOrdenTr" id="FeOrdenTr"
                    value={{Ord.fecha_orden_trabajo}} [(ngModel)]="Ord.fecha_orden_trabajo"
                    formControlName="textnuevofeordentr"></label>
            <br><br>
            Fecha final
            <label for="FeOrdenTr"><input type="date" name="FeOrdenTr" id="FeOrdenTr"
                    value={{Ord.fecha_orden_trabajo}} [(ngModel)]="Ord.fecha_orden_trabajo"
                    formControlName="textnuevofeordentr"></label>
            <br><br>-->
            Fecha inicial
            <label for="FeOrdenTr"><input type="date" name="FeOrdenTr" id="FeOrdenTr"
                    formControlName="textFeOrdenTr"></label>
            <br><br>
            Fecha final
            <label for="FeOrdenTr"><input type="date" name="FeOrdenTr" id="FeOrdenTr"
                    formControlName="textFeOrdenTr"></label>
            <br><br>
            <button type="submit">Generar informe</button>
            <!--<ul>
                <h2>{{TituloOrdenTr}}</h2>
                <table class="tabBuscar">
                    <thead class="Colb">
                        <th class="b">{{TabBusOrdenesTr[0]}}</th>
                        <th class="b">{{TabBusOrdenesTr[1]}}</th>
                        <th class="b">{{TabBusOrdenesTr[2]}}</th>
                        <th class="b">{{TabBusOrdenesTr[3]}}</th>
                        <th class="b">{{TabBusOrdenesTr[4]}}</th>
                        <th class="b">{{TabBusOrdenesTr[5]}}</th>
                        <th class="b">{{TabBusOrdenesTr[6]}}</th>
                        <th class="b">{{TabBusOrdenesTr[7]}}</th>
                        <th class="b">{{TabBusOrdenesTr[8]}}</th>
                    </thead>

                    <tbody class="Filb">
                        <tr class="b" *ngFor="let ord of MiOrdenTr">
                            <th class="b">{{ord.id_orden_trabajo}}</th>
                            <th class="b">{{ord.placa_vehiculo}}</th>
                            <th class="b">{{ord.numero_orden_trabajo}}</th>
                            <th class="b">{{ord.cod_ref_repuesto}}</th>
                            <th class="b">{{ord.CC_Mecanico}}</th>
                            <th class="b">{{ord.descripcion_servicio_orden}}</th>
                            <th class="b">{{ord.forma_pago}}</th>
                            <th class="b">{{ord.precio_orden_trabajo}}</th>
                            <th class="b">{{ord.fecha_orden_trabajo}}</th>
                        </tr>
                    </tbody>
                </table>
            </ul>-->
        </div>
    </div>

    <footer>
        <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
        <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.28,4.45 C75.33,37.98 58.41,126.80 200.80,150.00 L0.00,150.00 L-18.34,-8.38 Z"
                    style="stroke: none; fill: #08f;"></path>
            </svg></div>
    </footer>

</body>