<body>

    <div class="encabezado">
        <div class="adorno">
            <div class="caja"></div>
            <div class="caja"></div>
        </div>
        <a routerLink="/Inicio" class="enlace">Menú Inicio</a>
        <div style="text-align:center" class="head">
            <h1>
                {{ title }}
            </h1>
            <img width="200" alt="Logo Proyecto" src="../assets/free-logo-i9r67fo4cz-4186t5au7q.jpg">
        </div>
    </div>

    <div class="cuerpo">
        <!--mostrar lista ordenes de trabajo-->
        <div class="lista">
            <h2> Lista de las ordenes de trabajo</h2>
            <form (ngSubmit)="consultaOrdenesTr(1)" [formGroup]="ListaOrdenesTr">
                <button type="submit" style="margin-right: 30px"> Mostrar lista de las ordenes de trabajo</button>
                <button (click)="LimpiarLista()" style="scroll-margin-left: 30px"> Limpiar lista todas las ordenes de
                    trabajo </button>
                <br><br>
                <h2>{{TituloOrdenesTr}}</h2>
                <table>
                    <thead>
                        <th>{{TablaOrdenesTr[0]}}</th>
                        <th>{{TablaOrdenesTr[1]}}</th>
                        <th>{{TablaOrdenesTr[2]}}</th>
                        <th>{{TablaOrdenesTr[3]}}</th>
                        <th>{{TablaOrdenesTr[4]}}</th>
                        <th>{{TablaOrdenesTr[5]}}</th>
                        <th>{{TablaOrdenesTr[6]}}</th>
                        <th>{{TablaOrdenesTr[7]}}</th>
                        <th>{{TablaOrdenesTr[8]}}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ord of OrdenesTr">
                            <th>{{ord.id_orden_trabajo}}</th>
                            <th>{{ord.placa_vehiculo}}</th>
                            <th>{{ord.numero_orden_trabajo}}</th>
                            <th>{{ord.cod_ref_repuesto}}</th>
                            <th>{{ord.CC_Mecanico}}</th>
                            <th>{{ord.descripcion_servicio_orden}}</th>
                            <th>{{ord.forma_pago}}</th>
                            <th>{{ord.precio_orden_trabajo}}</th>
                            <th>{{ord.fecha_orden_trabajo}}</th>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <br><br><br>

        <!-- para mostrar una sola orden de trabajo-->
        <div class="buscar">

            <h2>Mostrar la orden de trabajo seleccionada: </h2>

            <form (ngSubmit)="buscarOrdenTr()" [formGroup]="filtrarOrdenTr">
                Orden de trabajo a mostrar
                <select class="dropdown" formControlName="combofiltro" (click)="consultaOrdenesTr(2)">
                    <option value="value1">Orden de trabajo a buscar</option>
                    <option *ngFor="let OrdenTr of comboListaOrdenTr" [value]="OrdenTr.id_orden_trabajo">
                        {{OrdenTr.numero_orden_trabajo}}-
                        {{OrdenTr.fecha_orden_trabajo}}
                    </option>
                </select>
                <br><br><br>
                <button type="submit">Buscar orden de trabajo</button>
            </form>
            <ul>
                <h2>{{TituloOrdenTr}}</h2>
                <table class="tabBuscar">
                    <thead class="Colb">
                        <th class="b">{{TabBusOrdenesTr[0]}}</th>
                        <th class="b">{{TabBusOrdenesTr[1]}}</th>
                        <th class="b">{{TabBusOrdenesTr[2]}}</th>
                        <th class="b">{{TabBusOrdenesTr[3]}}</th>
                        <th class="b">{{TabBusOrdenesTr[4]}}</th>
                        <th class="b">{{TabBusOrdenesTr[5]}}</th>
                        <th class="b">{{TabBusOrdenesTr[6]}}</th>
                        <th class="b">{{TabBusOrdenesTr[7]}}</th>
                        <th class="b">{{TabBusOrdenesTr[8]}}</th>
                    </thead>

                    <tbody class="Filb">
                        <tr class="b" *ngFor="let ord of MiOrdenTr">
                            <th class="b">{{ord.id_orden_trabajo}}</th>
                            <th class="b">{{ord.placa_vehiculo}}</th>
                            <th class="b">{{ord.numero_orden_trabajo}}</th>
                            <th class="b">{{ord.cod_ref_repuesto}}</th>
                            <th class="b">{{ord.CC_Mecanico}}</th>
                            <th class="b">{{ord.descripcion_servicio_orden}}</th>
                            <th class="b">{{ord.forma_pago}}</th>
                            <th class="b">{{ord.precio_orden_trabajo}}</th>
                            <th class="b">{{ord.fecha_orden_trabajo}}</th>
                        </tr>
                    </tbody>
                </table>
            </ul>


        </div>
        <br><br><br>

        <!-- para crear una orden de trabajo -->
        <div class="crea">

            <h2>Registrar una nueva orden de trabajo</h2>

            <form (ngSubmit)="InsertarOrdenTr()" [formGroup]="InsertarGOrdenTr">

                Vehículo
                <select formControlName="textVeOrdenTr">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let Vehiculo of Vehiculos" value="{{ Vehiculo.id_vehiculo }}">
                        {{ Vehiculo.placa_vehiculo }}
                    </option>
                </select>
                <br><br>
                Número orden de trabajo
                <label for="NuOrdenTr"><input type="text" name="NuOrdenTr" id="NuOrdenTr"
                        formControlName="textNuOrdenTr"></label>
                <br><br>
                Repuesto
                <select formControlName="textReOrdenTr">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let Repuesto of Repuestos" value="{{ Repuesto.id_repuesto }}">
                        {{ Repuesto.cod_ref_repuesto }}
                    </option>
                </select>
                <br><br>
                Mecánico
                <select formControlName="textMeOrdenTr">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let Mecanico of Mecanicos" value="{{ Mecanico.id_persona }}">
                        {{ Mecanico.identificacion_persona }} -
                        {{ Mecanico.p_nombre_persona }} -
                        {{ Mecanico.p_apellido_persona }}
                    </option>
                </select>
                <br><br>
                Descripción orden de trabajo
                <label for="DeOrdenTr"><input type="text" name="DeOrdenTr" id="DeOrdenTr"
                        formControlName="textDeOrdenTr"></label>
                <br><br>
                Forma de pago
                <select formControlName="textFPOrdenTr">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let FormaPago of FormasPago" value="{{ FormaPago.id_forma_pago }}">
                        {{ FormaPago.forma_pago }}
                    </option>
                </select>
                <br><br>
                Precio orden de trabajo
                <label for="PrOrdenTr"><input type="text" name="PrOrdenTr" id="PrOrdenTr"
                        formControlName="textPrOrdenTr"></label>
                <br><br>
                Fecha orden de trabajo
                <label for="FeOrdenTr"><input type="date" name="FeOrdenTr" id="FeOrdenTr"
                        formControlName="textFeOrdenTr"></label>
                <br><br>
                <button type="submit" onclick="location.reload()">Insertar orden de trabajo</button>
            </form>
            <br><br>

        </div>
        <br><br><br>

        <!-- para actualizar una orden de trabajo -->
        <div class="edit">

            <h2> Orden de trabajo a editar</h2>
            <form (ngSubmit)="buscarEditarOrdenTr()" [formGroup]="ActualizarAOrdenTr">
                Orden de trabajo a editar:
                <select class="dropdown" formControlName="BuscarIdOrdenTr" (click)="consultaOrdenesTr(3)">
                    <option value="value1">Orden de trabajo a editar</option>
                    <option *ngFor="let Ord of comboEditarOrdenTr" [value]="Ord.id_orden_trabajo">
                        {{Ord.numero_orden_trabajo}}-
                        {{Ord.fecha_orden_trabajo}}
                    </option>
                </select>
                <br><br>
                <button type="submit">Buscar orden de trabajo a editar</button>
                <h2>{{TituloOrdenTrEdit}}</h2>
                <ul *ngFor="let Ord of MiOrdenTrE">
                    <span class="actual">
                        Valor actual: {{Ord.placa_vehiculo}}
                    </span>
                    <br>
                    Nuevo vehículo
                    <select formControlName="textnuevoveordentr">
                        <option value="">Selecciona una opción</option>
                        <option *ngFor="let Vehiculo of Vehiculos" value="{{ Vehiculo.id_vehiculo }}">
                            {{ Vehiculo.placa_vehiculo }}
                        </option>
                    </select>
                    <br><br>
                    Nuevo número
                    <label for="NuOrdenTr"><input type="text" name="NuOrdenTr" id="NuOrdenTr"
                            value={{Ord.numero_orden_trabajo}} [(ngModel)]="Ord.numero_orden_trabajo"
                            formControlName="textnuevonuordentr"></label>
                    <br><br>
                    <span class="actual">
                        Valor actual: {{Ord.cod_ref_repuesto}}
                    </span>
                    <br>
                    Nuevo repuesto
                    <select formControlName="textnuevoreordentr">
                        <option value="">Selecciona una opción</option>
                        <option *ngFor="let Repuesto of Repuestos" value="{{ Repuesto.id_repuesto }}">
                            {{ Repuesto.cod_ref_repuesto }}
                        </option>
                    </select>
                    <br><br>
                    <span class="actual">
                        Valor actual: {{Ord.CC_Mecanico}}
                    </span>
                    <br>
                    Nuevo mecánico
                    <select formControlName="textnuevomeordentr">
                        <option value="">Selecciona una opción</option>
                        <option *ngFor="let Mecanico of Mecanicos" value="{{ Mecanico.id_persona }}">
                            {{ Mecanico.identificacion_persona }} -
                            {{ Mecanico.p_nombre_persona }} -
                            {{ Mecanico.p_apellido_persona }}
                        </option>
                    </select>
                    <br><br>
                    Nueva descripción
                    <label for="DeOrdenTr"><input type="text" name="DeOrdenTr" id="DeOrdenTr"
                            value={{Ord.descripcion_servicio_orden}} [(ngModel)]="Ord.descripcion_servicio_orden"
                            formControlName="textnuevodeordentr"></label>
                    <br><br>
                    <span class="actual">
                        Valor actual: {{Ord.forma_pago}}
                    </span>
                    <br>
                    Nueva forma de pago
                    <select formControlName="textnuevofpordentr">
                        <option value="">Selecciona una opción</option>
                        <option *ngFor="let FormaPago of FormasPago" value="{{ FormaPago.id_forma_pago }}">
                            {{ FormaPago.forma_pago }}
                        </option>
                    </select>
                    <br><br>
                    Nuevo precio
                    <label for="PrOrdenTr"><input type="text" name="PrOrdenTr" id="PrOrdenTr"
                            value={{Ord.precio_orden_trabajo}} [(ngModel)]="Ord.precio_orden_trabajo"
                            formControlName="textnuevoprordentr"></label>
                    <br><br>
                    <span class="actual">
                        Valor actual: {{Ord.fecha_orden_trabajo}}
                    </span>
                    <br>
                    Nueva fecha
                    <label for="FeOrdenTr"><input type="date" name="FeOrdenTr" id="FeOrdenTr"
                            value={{Ord.fecha_orden_trabajo}} [(ngModel)]="Ord.fecha_orden_trabajo"
                            formControlName="textnuevofeordentr"></label>
                    <br><br>
                </ul>
                <br><br>
                <button (click)="ActualizarOrdenTr()" onclick="location.reload()">Actualizar</button>
            </form>
            <br>

        </div>
        <br><br><br>

        <!-- para generar un informe de ordenes de trabajo por mecánico y periodo de tiempo -->
        <div class="informe">
            <h2> Informe de ordenes de trabajo por mecánico y periodo de tiempo </h2>
            <form (ngSubmit)="GenerarInforme()" [formGroup]="Informe">
                Mecánico
                <select formControlName="mecanicoorden" (click)="consultaOrdenesTr(4)">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let Mecanico of Mecanicos" value="{{ Mecanico.id_persona }}">
                        {{ Mecanico.identificacion_persona }} -
                        {{ Mecanico.p_nombre_persona }} -
                        {{ Mecanico.p_apellido_persona }}
                    </option>
                </select>
                <br><br>
                Fecha inicial
                <label for="FeInicial"><input type="date" name="FeInicial" id="FeInicial"
                        formControlName="fechainiinforme"></label>
                <br><br>
                Fecha final
                <label for="FeFinal"><input type="date" name="FeFinal" id="FeFinal"
                        formControlName="fechafininforme"></label>
                <br><br>
                <button type="submit">Generar informe</button>
                <ul>
                    <h2>{{TituloInforme}}</h2>
                    <table class="tabBuscar">
                        <thead class="Colb">
                            <th class="b">{{TabBusInformes[0]}}</th>
                            <th class="b">{{TabBusInformes[1]}}</th>
                            <th class="b">{{TabBusInformes[2]}}</th>
                            <th class="b">{{TabBusInformes[3]}}</th>
                            <th class="b">{{TabBusInformes[4]}}</th>
                            <th class="b">{{TabBusInformes[5]}}</th>
                            <th class="b">{{TabBusInformes[6]}}</th>
                            <th class="b">{{TabBusInformes[7]}}</th>
                            <th class="b">{{TabBusInformes[8]}}</th>
                        </thead>

                        <tbody class="Filb">
                            <tr class="b" *ngFor="let inf of MiInforme">
                                <th class="b">{{inf.id_orden_trabajo}}</th>
                                <th class="b">{{inf.placa_vehiculo}}</th>
                                <th class="b">{{inf.numero_orden_trabajo}}</th>
                                <th class="b">{{inf.cod_ref_repuesto}}</th>
                                <th class="b">{{inf.CC_Mecanico}}</th>
                                <th class="b">{{inf.descripcion_servicio_orden}}</th>
                                <th class="b">{{inf.forma_pago}}</th>
                                <th class="b">{{inf.precio_orden_trabajo}}</th>
                                <th class="b">{{inf.fecha_orden_trabajo}}</th>
                            </tr>
                        </tbody>
                    </table>
                </ul>
            </form>
        </div>
    </div>

    <footer>
        <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
        <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.28,4.45 C75.33,37.98 58.41,126.80 200.80,150.00 L0.00,150.00 L-18.34,-8.38 Z"
                    style="stroke: none; fill: #08f;"></path>
            </svg></div>
    </footer>

</body>