<body>

    <div class="encabezado">
        <div class="adorno">
            <div class="caja"></div>
            <div class="caja"></div>
        </div>
        <a routerLink="/Inicio" class="enlace">Menú Inicio</a>
        <div style="text-align:center" class="head">
            <h1>
                {{ title }}
            </h1>
            <img width="200" alt="Logo Proyecto" src="../assets/free-logo-i9r67fo4cz-4186t5au7q.jpg">
        </div>
    </div>

    <div class="cuerpo">
        <!--mostrar lista personas-->
        <div class="lista">
            <h2> Lista de las personas</h2>
            <form (ngSubmit)="consultaPersonas(1)" [formGroup]="ListaPersonas">
                <button type="submit" style="margin-right: 30px"> Mostrar lista de personas</button>
                <button (click)="LimpiarLista()" style="scroll-margin-left: 30px"> Limpiar lista todas las
                    personas</button>
                <br><br>
                <h2>{{TituloPersonas}}</h2>
                <table>
                    <thead>
                        <th>{{TablaPersonas[0]}}</th>
                        <th>{{TablaPersonas[1]}}</th>
                        <th>{{TablaPersonas[2]}}</th>
                        <th>{{TablaPersonas[3]}}</th>
                        <th>{{TablaPersonas[4]}}</th>
                        <th>{{TablaPersonas[5]}}</th>
                        <th>{{TablaPersonas[6]}}</th>
                        <th>{{TablaPersonas[7]}}</th>
                        <th>{{TablaPersonas[8]}}</th>
                        <th>{{TablaPersonas[9]}}</th>
                        <th>{{TablaPersonas[10]}}</th>
                        <!--<th>{{TablaTiposId[2]}}</th>-->
                    </thead>
                    <tbody>
                        <tr *ngFor="let per of Personas">
                            <th>{{per.id_persona}}</th>
                            <th>{{per.tipo_identificacion}}</th>
                            <th>{{per.identificacion_persona}}</th>
                            <th>{{per.p_nombre_persona}}</th>
                            <th>{{per.s_nombre_persona}}</th>
                            <th>{{per.p_apellido_persona}}</th>
                            <th>{{per.s_apellido_persona}}</th>
                            <th>{{per.telefono_persona}}</th>
                            <th>{{per.correo_persona}}</th>
                            <th>{{per.direccion_persona}}</th>
                            <th>{{per.tipo_usuario}}</th>
                            <!--<th>{{tid.iniciales_tipo_identificacion}}</th>-->
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <br><br><br>

        <!-- para mostrar un solo tipo de usuario -->
        <div class="buscar">

            <h2>Mostrar la persona seleccionada: </h2>

            <form (ngSubmit)="buscarPersona()" [formGroup]="filtrarPersona">
                Persona a mostrar
                <select class="dropdown" formControlName="combofiltro" (click)="consultaPersonas(2)">
                    <option value="value1">Persona a buscar</option>
                    <option *ngFor="let Persona of comboListaPersona" [value]="Persona.id_persona">
                        {{Persona.identificacion_persona}}-
                        {{Persona.p_nombre_persona}}-
                        {{Persona.p_apellido_persona}}
                        <!--{{TipoId.iniciales_tipo_identificacion}}-->
                    </option>
                </select>
                <br><br><br>
                <button type="submit">Buscar persona</button>
            </form>
            <ul>
                <h2>{{TituloPersona}}</h2>
                <table class="tabBuscar">
                    <thead class="Colb">
                        <th class="b">{{TabBusPersonas[0]}}</th>
                        <th class="b">{{TabBusPersonas[1]}}</th>
                        <th class="b">{{TabBusPersonas[2]}}</th>
                        <th class="b">{{TabBusPersonas[3]}}</th>
                        <th class="b">{{TabBusPersonas[4]}}</th>
                        <th class="b">{{TabBusPersonas[5]}}</th>
                        <th class="b">{{TabBusPersonas[6]}}</th>
                        <th class="b">{{TabBusPersonas[7]}}</th>
                        <th class="b">{{TabBusPersonas[8]}}</th>
                        <th class="b">{{TabBusPersonas[9]}}</th>
                        <th class="b">{{TabBusPersonas[10]}}</th>
                        <!--<th class="b">{{TabBusTiposId[2]}}</th>-->
                    </thead>

                    <tbody class="Filb">
                        <tr class="b" *ngFor="let per of MiPersona">
                            <th class="b">{{per.id_persona}}</th>
                            <th class="b">{{per.tipo_identificacion}}</th>
                            <th class="b">{{per.identificacion_persona}}</th>
                            <th class="b">{{per.p_nombre_persona}}</th>
                            <th class="b">{{per.s_nombre_persona}}</th>
                            <th class="b">{{per.p_apellido_persona}}</th>
                            <th class="b">{{per.s_apellido_persona}}</th>
                            <th class="b">{{per.telefono_persona}}</th>
                            <th class="b">{{per.correo_persona}}</th>
                            <th class="b">{{per.direccion_persona}}</th>
                            <th class="b">{{per.tipo_usuario}}</th>
                            <!--<th class="b">{{tid.iniciales_tipo_identificacion}}</th>-->
                        </tr>
                    </tbody>
                </table>
            </ul>


        </div>
        <br><br><br>

        <!-- para crear un  tipo de usuario -->
        <div class="crea">

            <h2>Registrar una nueva persona</h2>

            <form (ngSubmit)="InsertarPersona()" [formGroup]="InsertarGPersona">

                <form (ngSubmit)="buscarTipoId()" [formGroup]="filtrarTipoId">
                    Tipo identificación persona
                    <select class="opc" formControlName="combofiltroid" (click)="consultaTiposId(2)">
                        <option value="value1">Tipo de identificación</option>
                        <option *ngFor="let TipoId of comboListaTipoIdP" [value]="TipoId.id_tipo_identificacion">
                            {{TipoId.tipo_identificacion}}
                        </option>
                    </select>
                    <button type="submit" class="special"></button>
                    <br><br>
                </form>
                <li *ngFor="let Id of MiTipoId">
                    {{Id.tipo_identificacion}}
                    <label for="TIPersona" class="resultado"><input type="hidden" name="TIPersona" id="TIPersona"
                            value={{Id.id_tipo_identificacion}} [(ngModel)]="Id.id_tipo_identificacion"
                            formControlName="textTIPersona"></label>
                    <br><br>
                </li>
                Identificación persona
                <label for="IPersona"><input type="text" name="IPersona" id="IPersona"
                        formControlName="textIPersona"></label>
                <br><br>
                Primer nombre persona
                <label for="PNPersona"><input type="text" name="PNPersona" id="PNPersona"
                        formControlName="textPNPersona"></label>
                <br><br>
                Segundo nombre persona
                <label for="SNPersona"><input type="text" name="SNPersona" id="SNPersona"
                        formControlName="textSNPersona"></label>
                <br><br>
                Primer apellido persona
                <label for="PAPersona"><input type="text" name="PAPersona" id="PAPersona"
                        formControlName="textPAPersona"></label>
                <br><br>
                Segundo apellido persona
                <label for="SAPersona"><input type="text" name="SAPersona" id="SAPersona"
                        formControlName="textSAPersona"></label>
                <br><br>
                Teléfono persona
                <label for="TPersona"><input type="text" name="TPersona" id="TPersona"
                        formControlName="textTPersona"></label>
                <br><br>
                Correo persona
                <label for="CPersona"><input type="text" name="CPersona" id="CPersona"
                        formControlName="textCPersona"></label>
                <br><br>
                Dirección persona
                <label for="DPersona"><input type="text" name="DPersona" id="DPersona"
                        formControlName="textDPersona"></label>
                <br><br>
                Tipo usuario persona
                <label for="TUPersona"><input type="text" name="TUPersona" id="TUPersona"
                        formControlName="textTUPersona"></label>
                <br><br>
                <button type="submit">Insertar persona</button>
            </form>
            <br><br>

        </div>
        <br><br><br>

        <!-- para actualizar una persona -->
        <div class="edit">

            <h2> Persona a editar</h2>
            <form (ngSubmit)="buscarEditarPersona()" [formGroup]="ActualizarAPersona">
                Persona a editar:
                <select class="dropdown" formControlName="BuscarIdPersona" (click)="consultaPersonas(3)">
                    <option value="value1">Persona a editar</option>
                    <option *ngFor="let Per of comboEditarPersona" [value]="Per.id_persona">
                        {{Per.identificacion_persona}}-
                        {{Per.p_nombre_persona}}-
                        {{Per.p_apellido_persona}}
                    </option>
                </select>
                <br><br>
                <button type="submit">Buscar persona a editar</button>
                <h2>{{TituloPersonaEdit}}</h2>
                <li *ngFor="let Per of MiPersonaE">
                    Nuevo tipo de identificación persona
                    <label for="TIPersona"><input type="text" name="TIPersona" id="TIPersona"
                            value={{Per.tipo_identificacion}} [(ngModel)]="Per.tipo_identificacion"
                            formControlName="textnuevotipersona"></label>
                    <br><br>
                    Nueva identificación persona
                    <label for="IPersona"><input type="text" name="IPersona" id="IPersona"
                            value={{Per.identificacion_persona}} [(ngModel)]="Per.identificacion_persona"
                            formControlName="textnuevoipersona"></label>
                    <br><br>
                    Nuevo primer nombre persona
                    <label for="PNPersona"><input type="text" name="PNPersona" id="PNPersona"
                            value={{Per.p_nombre_persona}} [(ngModel)]="Per.p_nombre_persona"
                            formControlName="textnuevopnpersona"></label>
                    <br><br>
                    Nuevo segundo nombre persona
                    <label for="SNPersona"><input type="text" name="SNPersona" id="SNPersona"
                            value={{Per.s_nombre_persona}} [(ngModel)]="Per.s_nombre_persona"
                            formControlName="textnuevosnpersona"></label>
                    <br><br>
                    Nuevo primer apellido persona
                    <label for="PAPersona"><input type="text" name="PAPersona" id="PAPersona"
                            value={{Per.p_apellido_persona}} [(ngModel)]="Per.p_apellido_persona"
                            formControlName="textnuevopapersona"></label>
                    <br><br>
                    Nuevo segundo apellido persona
                    <label for="SAPersona"><input type="text" name="SAPersona" id="SAPersona"
                            value={{Per.s_apellido_persona}} [(ngModel)]="Per.s_apellido_persona"
                            formControlName="textnuevosapersona"></label>
                    <br><br>
                    Nuevo teléfono persona
                    <label for="TPersona"><input type="text" name="TPersona" id="TPersona"
                            value={{Per.telefono_persona}} [(ngModel)]="Per.telefono_persona"
                            formControlName="textnuevotpersona"></label>
                    <br><br>
                    Nuevo correo persona
                    <label for="CPersona"><input type="text" name="CPersona" id="CPersona" value={{Per.correo_persona}}
                            [(ngModel)]="Per.correo_persona" formControlName="textnuevocpersona"></label>
                    <br><br>
                    Nueva dirección persona
                    <label for="DPersona"><input type="text" name="DPersona" id="DPersona"
                            value={{Per.direccion_persona}} [(ngModel)]="Per.direccion_persona"
                            formControlName="textnuevodpersona"></label>
                    <br><br>
                    Nuevo tipo usuario persona
                    <label for="TUPersona"><input type="text" name="TUPersona" id="TUPersona" value={{Per.tipo_usuario}}
                            [(ngModel)]="Per.tipo_usuario" formControlName="textnuevotupersona"></label>
                    <br><br>
                </li>
                <br><br>
                <button (click)="ActualizarPersona()">Actualizar</button>
            </form>
            <br>

        </div>
        <br><br><br>
    </div>

    <footer>
        <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
        <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.28,4.45 C75.33,37.98 58.41,126.80 200.80,150.00 L0.00,150.00 L-18.34,-8.38 Z"
                    style="stroke: none; fill: #08f;"></path>
            </svg></div>
    </footer>

</body>